.exchange__currency-name{
      text-transform: uppercase;
      font-size: 4rem;
     text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    color: #fff;
  }
  li .exchange__currency-name {
  color: #1c56d0;
}
