@import '../../utilities/variables';

.card-header {
  color: $color-white;
  display: flex;
  justify-content: space-between;
  padding: $padding/2 $padding;
  background: $color-blue;

  &__list {
    list-style: none;
    display: flex;
  }
}
